.main {

    flex: 1 1 auto;

    @include _992 {
        padding-right: 20px;
    }

    @media (min-width: 1440px) {
        padding-right: 45px;
    }

	// .main__header

	&__header {

        display: flex;
        flex-direction: column;
        
        @include _992 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        margin: -11.5px;
        @media (min-width: 1650px) {
            margin: -20px;
        }

		// .main__header--block

		&--block {

            padding: 11.5px;
            @media (min-width: 1650px) {
                padding: 20px;
            }

            &:nth-child(1) {
                @include _992 {
                    order: 4;
                    flex: 0 1 21%;
                    width: 21%;
                }

                @media (min-width: 1280px) {
                    flex: 0 1 25%;
                    width: 25%;
                }
            }

            &:nth-child(2) {
                @include _992 {
                    order: 1;
                    flex: 0 1 60%;
                    width: 60%;
                }
            }

            &:nth-child(3) {
                @include _992 {
                    order: 3;
                    flex: 0 1 72%;
                    width: 72%;
                    //flex: 0 1 100%;
                }

                /* @media (min-width: 1280px) {
                    flex: 0 1 78%;
                } */
                
                @media (min-width: 1280px) {
                    flex: 0 1 68%; width: 68%;
                }
            }

            &:nth-child(4) {
                @include _992 {
                    order: 2;
                    flex: 0 1 200px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                }

                @media (min-width: 1280px) {
                    flex: 0 1 308px;
                }

                @media (min-width: 1400px) {
                    flex: 0 1 338px;
                }
            }
		}

		// .main__header--content

		&--content {
		}
	}

	// .main__accent-card

	&__accent-card {

        display: flex;
        justify-content: flex-end;

        height: 100%;

		// .main__accent-card--body

		&--body {
            width: 100%;
            @include _992 {
                min-width: 150px;
                width: auto;
            }
            @media (min-width: 1280px) {
                min-width: 208px;
            }
            @media (min-width: 1650px) {
                padding: 30px;
                border-radius: 24px;
                min-width: 308px;
            }
            padding: 20px;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;

            background: #2F80ED;
            color: #FFF;

            & b {
                font-size: 0.9375rem;
                line-height: 1;
            }

            & strong {
                font-size: 1.125rem;
                @media (min-width: 1280px) {
                    font-size: 1.5rem;
                }
                @media (min-width: 1650px) {
                    font-size: 2rem;
                }
                line-height: 186%;
                font-weight: 400;
                padding: 5px 0;
            }
		}
	}

	// .main__main-title

	&__main-title {
        text-align: center;
        @include _992 {
            text-align: left;
        }
	}

	// .main__subtitle

	&__subtitle {
        padding-top: 10px;
        text-align: center;
        
        font-size: 1.125rem;

        @include _768 {
            font-size: 1.25rem;
        }

        @include _992 {
            font-size: 1.4rem;
            font-weight: 700;
            text-align: left;
            padding-top: 45px;
        }

        @media (min-width: 1500px) {
            font-size: 1.62rem;
        }
	}

	// .main__slava

	&__slava {
        display: flex;
        align-items: center;

        white-space: nowrap;

        & img {
            margin-right: 10px;
        }

        & b {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            line-height: 150%;

            margin: 0;

            font-size: 1rem;

            @include _992 {
                font-size: 1rem;
            }

            @media (min-width: 1280px) {
                font-size: 1.5rem;
            }

            @media (min-width: 1400px) {
                font-size: 1.75rem;
            }

            @media (min-width: 1500px) {
                font-size: 2.12rem;
            }
        }
	}

	// .main__header-list

	&__header-list {
        display: flex;
        flex-wrap: wrap;
        @include _992 {
            flex-wrap: nowrap;
        }

        margin: -10px;
        
        @media (min-width: 1750px) {
            //padding-right: 15%;
            margin: -14.5px;
        }
	}

	// .main__header-card

	&__header-card {

        flex: 1 1 100%;
        @include _992 {
            flex: 0 1 33%;
        }
        /* @media (min-width: 1500px) {
            flex: 0 1 33%;
        } */

        padding: 10px 0;

        @media (min-width: 1750px) {
            padding: 14.5px 0;
        }

		// .main__header-card--body

		&--body {
            padding: 15px;
            margin: 0 10px;
            @media (min-width: 1750px) {
                padding: 25px;
                border-radius: 24px;
                margin: 0 14.5px;
            }
            
            height: 100%;

            display: flex;
            flex-direction: column;

            background: #FDFDFD;
            border-radius: 14px;

            min-width: 150px;

            & b {
                font-size: 0.875rem;
                line-height: 186%;

                flex: 1 1 auto;
            }

            & strong {
                padding-top: 15px;

                font-size: 1.5rem;
                @media (min-width: 1750px) {
                    font-size: 2.12rem;
                }
                line-height: 100%;
                color: #F2994A;
            }
		}
	}
}
